<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [167]:
# Enter Student names here:
student_names = ['Aaron','Julie','Bob','Francis','Allegra','John','Stephanie','Holly','Sara','Robert']

---

### 1) What are the types of the following variables?

In [168]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [169]:
# A:
print("Variable a is a {}".format(type(a)))
print("Variable b is a {}".format(type(b)))
print("Variable c is a {}".format(type(c)))
print("Variable d is a {}".format(type(d)))
print("Variable e is a {}".format(type(e)))
print("Variable f is a {}".format(type(f)))
print("Variable g is a {}".format(type(g)))
print("Variable h is a {}".format(type(h)))
print("Variable i is a {}".format(type(i)))

Variable a is a <class 'int'>
Variable b is a <class 'float'>
Variable c is a <class 'list'>
Variable d is a <class 'dict'>
Variable e is a <class 'tuple'>
Variable f is a <class 'dict'>
Variable g is a <class 'bool'>
Variable h is a <class 'bool'>
Variable i is a <class 'str'>

---

### 2) What is the difference between a "mutable" and an "immutable" object?

### A: 
A mutable object can be changed after it is created (examples: list, dictionary). An immutable object cannot be changed after it is created (example: tuples)

---

### 3) Print the `student_names` list.

In [170]:
print(student_names)

['Aaron', 'Julie', 'Bob', 'Francis', 'Allegra', 'John', 'Stephanie', 'Holly', 'Sara', 'Robert']

---

### 4) Print the names of the first and last students on the list.

In [171]:
print(student_names[0])
print(student_names[-1])

Aaron
Robert

---

### 5) Print the first five names in the `student_names` list.

In [212]:
print(student_names[:5])

['Aaron', 'Julie', 'Bob', 'Francis', 'Allegra']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [173]:
nine_and_ten = student_names[8] + ' ' + student_names[9]
nine_and_ten

'Sara Robert'

---

### 7) Append an animal to the list of animals.

In [219]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [220]:
animals.append('kangaroo')
animals

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'kangaroo']

---

### 8) Print the length of the `animals` list.

In [221]:
len(animals)

7

---

### 9) Divide the length of the fifth animal by the second.

In [222]:
len(animals[4]) / len(animals[1])

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [228]:
float(len(animals[4])) / len(animals[1])

2.3333333333333335

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [179]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [180]:
numbers + animals # combine all of the elements of each list

[0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0,
 'duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'kangaroo']

In [230]:
numbers.extend(animals)
numbers

[0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0,
 'duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'kangaroo',
 'duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'kangaroo',
 'duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'kangaroo']

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [231]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [232]:
names.remove('kiefer')
names

['doug', 'billy', 'kian', 'sam']

---

### 13) Sort the following list.

In [235]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [236]:
sorted([str(x) for x in mix])

['(1, 2, 3)',
 '12',
 '12.999',
 "['billy', 'sam']",
 'a',
 'flower',
 "{'key': 'value'}"]

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [237]:
mix[2] > mix[3]

True

---

### 15) Find the index of `'a'` in the list.

In [238]:
mix.index('a')

5

In [241]:
'abaaaaaa'.index('a')

0

---

### 16) Reverse the `mix` list.

In [188]:
sorted([str(x) for x in mix], reverse=True)

["{'key': 'value'}",
 'flower',
 'a',
 "['billy', 'sam']",
 '12.999',
 '12',
 '(1, 2, 3)']

In [189]:
mix.reverse()
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

In [243]:
mix[:-1] # reverse again

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a']

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [244]:
mix

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [245]:
last_element = mix.pop()
last_element

(1, 2, 3)

In [246]:
mix

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a']

---

### 18) Count the number of times `0` appears in the following list.

In [192]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [193]:
binary.count(0)

16

In [194]:
len(binary) - sum(binary)

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [195]:
sf = {'sunset':94122,
             'presidio':94129,
             'soma':94105,
             'marina':94123}

sf

{'marina': 94123, 'presidio': 94129, 'soma': 94105, 'sunset': 94122}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [196]:
soma_zip = sf['soma']
soma_zip

94105

---

### 21) Get the keys out of the dictionary.

In [197]:
list(sf.keys())

['sunset', 'presidio', 'soma', 'marina']

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [198]:
pairs = list(sf.items())
pairs

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

In [199]:
zip_list = []

for key, value in sf.items():
    zip_list.append((key,value))

zip_list

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [200]:
sf['catro'] = 94114
sf

{'catro': 94114,
 'marina': 94123,
 'presidio': 94129,
 'soma': 94105,
 'sunset': 94122}

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [201]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [202]:
sf.update(small)
sf

{'catro': 94114,
 'dogpatch': 94107,
 'marina': 94123,
 'outer_richmond': 94121,
 'presidio': 94129,
 'soma': 94105,
 'sunset': 94122}

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [203]:
sunset_zip = sf.pop('sunset')
sunset_zip

94122

In [204]:
sf

{'catro': 94114,
 'dogpatch': 94107,
 'marina': 94123,
 'outer_richmond': 94121,
 'presidio': 94129,
 'soma': 94105}

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [205]:
sf['dogpatch']

94107

In [206]:
'dogpatch' in sf

True

In [251]:
# also works for lists
test_list = [1,2,3]
2 in test_list

True